*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: whitesmoke;
}

#ch{
    display: none;
}
#ch:checked ~.content{
    display: block;
}
#ch:checked ~label{
display: none;

}
label{
    display: inline-block;
    cursor: pointer;
    color:rgb(255, 47, 127);
    background-color: whitesmoke;
    padding: 4px 12px;
    border-radius: 4px;
    margin-top: 13px;
    
}
.content{
    display:none ;

}
